<div class="shadow">
  <div class="row mt-3 p-3">
    <div class="col-md-2 ">
      <a class="navbar-brand text-uppercase" style="font-family:adobe-clean,sans-serif;" href="#"><span class="text-light">Up</span><span class="text-success font-weight-bold">KARMA</span></a>
    </div>
    <div class="col-md-4 ">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control rounded-0 w-100 " type="search" placeholder="Search" aria-label="Search"><i class="fa fa-search position-absolute" style="right:30px"></i>
      </form>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <a href="" class="text-light custom-class font-weight-bold border border-top-0 border-bottom-0 border-right-0  pl-1 " style="font-size:13px">SignUP</a>
        <a href="" class="text-light custom-class font-weight-bold border border-top-0 border-bottom-0 border-right-0  pl-1 ml-3" style="font-size:13px">Signin</a>
        <a href="" class="text-light custom-class font-weight-bold border border-top-0 border-bottom-0 border-right-0  pl-1 ml-3" style="font-size:13px">FabFamily</a>
        <a href="" class="text-light custom-class font-weight-bold border border-top-0 border-bottom-0 border-right-0  pl-1 ml-3" style="font-size:13px">TrackYourOrder</a>
        <a href="" class="text-light custom-class font-weight-bold border border-top-0 border-bottom-0 border-right-0  pl-1 ml-3" style="font-size:13px">Store-Locator</a>
      </div>
      <div class="d-flex justify-content-center mt-md-3">
        <a href="" class="text-light custom-class font-weight-bold border   pr-1 pl-1 " style="font-size:13px"><i class="fa fa-phone"></i></a>
        <a href="" class="text-light custom-class font-weight-bold border pr-1 pl-1 ml-3" style="font-size:13px"><i class="fa fa-flag"></i></a>
        <a href="" class="text-light custom-class font-weight-bold border pr-1 pl-1 ml-3" style="font-size:13px"><i class="fa fa-heart"></i></a>
        <a href="" class="text-light custom-class font-weight-bold border pr-1 pl-1  ml-3" style="font-size:13px"><i class="fa fa-shopping-cart" ></i></a>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Woman <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home Linen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Furniture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home Decor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beauty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Food Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Custom Kurta</a>
        </li>
      </ul>

    </div>
  </nav>
  </div>
