<!-- bg section -->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12 p-5 bg-light border m-auto">
      <img src="../assets/images/bg_1.png" class="img-responsive w-100" alt="">
    </div>
  </div>
</div>
<!-- bg section -->
<div class="container mt-5">
  <div class="row ">
    <div class="col-md-4 p-3 ">
        <h1 class="font-weight-bold text-center mt-md-5 position-absolute" style="top:30px;">Featured </h1>
        <span  class="text-center" style="font-size:100px;opacity:0.5; ">F</span>
        <h1 class="font-weight-bold text-center mt-3 ml-5 position-absolute" style="bottom:60px">Product </h1>

      </div>

    <div class="col-md-8 bg-light pt-2">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>
              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block  w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
              <div class="col-md-3 d-none d-md-block">
                <img class="d-block w-100 " style="height:200px" src="https://picsum.photos/200"  alt="First slide">
                <h6 class=" mt-2  p-2">Experiace the joy <i class="fa fa-arrow-right" ></i> </h6>

              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="fa fa-arrow-left text-dark rounded-circle p-2 border" style="font-size:20px" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="fa fa-arrow-right text-dark rounded-circle p-2 border" style="font-size:20px" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
